* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.home {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(to right, #17a8ec, #2672f6);
  color: white;
}

.content {
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  padding: 50px;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  text-transform: uppercase;
  letter-spacing: 2px;
}

button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2rem;
  color: #000000;
  background: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s, color 0.3s;
  margin-top: 20px;
}

button:hover {
  background: #3aaaeb;
  color: white;
}
